.gui {
	width: 700px;
	margin: 30px auto 0;
}

.field {
	position: relative;
	width: 700px;
	height: 400px;
	margin-top: 30px;
	background-color: black;
}

.title {
	width: 100%;
	margin: 25px auto 0;
	text-align: center;
}

h2 {
	font-size: 30px;
}

.pScore {
	float: left;
}

.aiScore {
	float: right;
}

.message {
	color: green;
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}

.messageAi {
	color: red;
	text-align: center;
	font-weight: bolder;
	font-size: 25px;
}